@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#screen {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}

section#socialNetworks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

section#socialNetworks a {
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    box-sizing: border-box;
}

section#socialNetworks img{
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
}

section#socialNetworks a:hover{
    height: 56px;
    margin: 7px;
    box-shadow: 5px 5px 7px black;
    transition: height 0.3s, margin 0.3s, box-shadow 0.3s;
}

section#socialNetworks img:hover{
    height: 56px;
    transition: height 0.3s;
}